html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans serif;
  overflow-x: hidden; //FIX REMOVER DESPUES
}
/* google ads banner sizes
  Medium Rectangle (300×250) Large Rectangle (336×280) Leaderboard (728×90) Half Page (300×600) FIX SD width: overflow-x*/

.google-ads-banner {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 45.5rem;
  height: 5.625rem;
  box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2); //COLORFIX??
}

header {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;

  .logo--header {
    //FIX ROMPE EN 310PX => 410PX
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    .titulo--logo {
      width: 100%;
      font-size: 1.5em;
      margin-right: 4rem;
      text-transform: uppercase;

      .logo--h1 {
        margin-top: 1rem;
        margin-bottom: 0;
        width: 4rem;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 1.1em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0.5rem;
        a:hover {
          padding: 0.6rem;
          background-color: #0008ff; //COLORFIX
          color: #fafafa;
          border-radius: 3px;
          transition: 0.3s all ease-in-out;
        }
        a {
          text-decoration: none;
          color: unset;
        }
      }
    }
  }

  /* SWITCH PARA EL theme dark COLORFIX */
  .switch--dark {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    em {
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }
  .theme-switch {
    display: inline-block;
    height: 2.1rem;
    position: relative;
    width: 3.8rem;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    cursor: pointer;
    position: absolute;
    inset: 0;
    transition: 0.1s;
  }

  .slider:before {
    position: absolute;
    background-color: #fafafa;
    left: 4px;
    bottom: 4px;
    content: "\263D";
    color: #0008ff;
    font-size: 1.3em;
    height: 1.6rem;
    transition: 0.4s;
    width: 1.65rem;
  }

  input:checked + .slider {
    background-color: #0008ff; //COLOR theme dark
  }

  input:checked + .slider:before {
    transform: translateX(26px);
    content: "\263C";
    color: rgb(194, 194, 32); //COLOR
    font-size: 1.3em;
  }

  .slider.round {
    border-radius: 1rem;
  }

  .slider.round:before {
    border-radius: 50%;
  }
} // fin header

////////////// MAIN //////////////////
main {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  // flex-flow: column wrap;
  justify-content: center;

  .box--titulo {
    width: 100%;

    .titulo--main {
      font-weight: 400;
      text-align: center;
    }

    .cards-top-list {
      display: flex;
      flex-flow: column wrap;
      // COLORFIX BAJARLE 1 TONO
      #top-1 {
        border-top: 5px solid red;
      }
      #top-2 {
        border-top: 5px solid blue;
      }
      #top-3 {
        border-top: 5px solid yellow;
      }
      #top-4 {
        border-top: 5px solid orange;
      }
      .card-top-radio {
        width: 80%;
        margin: 1rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2); //COLORFIX??
        img {
          width: 8rem;
        }
        span {
          display: block;
          border-top: 1px solid rgb(206, 192, 192);
          font-size: 1em;
          font-weight: 300;
          padding: 1rem;
        }
      }
    }
  }
} // FIN MAIN

// <!-- LISTADO -->

#listado--radios {
  overflow: auto;

  .titulo--listado {
    text-align: center;
    font-weight: 400;
  }
  .group-radio-list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(10, 10%);
    gap-row: 0.1rem;
    gap-column: 0.1rem;
    align-items: center;
    justify-content: center;

    .card-radio-sm {
      margin: 0.5rem;
      max-width: 100%;
      max-height: 100%;
      box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
      span {
        display: block;
        text-align: center;
        border-top: 0.5px solid rgb(235, 238, 236);
        font-size: 0.7em;
        font-weight: 300;
        padding: 0.5rem;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
} //fin listado radios

#box--comentarios {
  display: flex;

  .box--facebook {
    width: 100%;
    border: dashed 1px red;
  }
} // fin comentarios

/* 
@media screen only and(min-width: 800px) {
  header {
    grid-template-columns: 100%;
    text-align: unset;
  }
} */
