@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans serif;
  overflow-x: hidden;
}

/* google ads banner sizes
  Medium Rectangle (300×250) Large Rectangle (336×280) Leaderboard (728×90) Half Page (300×600) FIX SD width: overflow-x*/
.google-ads-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 45.5rem;
  height: 5.625rem;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  text-align: center;
  /* SWITCH PARA EL theme dark COLORFIX */
}

header .logo--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo--header .titulo--logo {
  width: 100%;
  font-size: 1.5em;
  margin-right: 4rem;
  text-transform: uppercase;
}

header .logo--header .titulo--logo .logo--h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  width: 4rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.5rem;
}

header nav ul li a:hover {
  padding: 0.6rem;
  background-color: #0008ff;
  color: #fafafa;
  border-radius: 3px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

header nav ul li a {
  text-decoration: none;
  color: unset;
}

header .switch--dark {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .switch--dark em {
  margin-left: 0.5rem;
  font-size: 1rem;
}

header .theme-switch {
  display: inline-block;
  height: 2.1rem;
  position: relative;
  width: 3.8rem;
}

header .theme-switch input {
  display: none;
}

header .slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  inset: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .slider:before {
  position: absolute;
  background-color: #fafafa;
  left: 4px;
  bottom: 4px;
  content: "\263D";
  color: #0008ff;
  font-size: 1.3em;
  height: 1.6rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 1.65rem;
}

header input:checked + .slider {
  background-color: #0008ff;
}

header input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  content: "\263C";
  color: #c2c220;
  font-size: 1.3em;
}

header .slider.round {
  border-radius: 1rem;
}

header .slider.round:before {
  border-radius: 50%;
}

main {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .box--titulo {
  width: 100%;
}

main .box--titulo .titulo--main {
  font-weight: 400;
  text-align: center;
}

main .box--titulo .cards-top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .box--titulo .cards-top-list #top-1 {
  border-top: 5px solid red;
}

main .box--titulo .cards-top-list #top-2 {
  border-top: 5px solid blue;
}

main .box--titulo .cards-top-list #top-3 {
  border-top: 5px solid yellow;
}

main .box--titulo .cards-top-list #top-4 {
  border-top: 5px solid orange;
}

main .box--titulo .cards-top-list .card-top-radio {
  width: 80%;
  margin: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
}

main .box--titulo .cards-top-list .card-top-radio img {
  width: 8rem;
}

main .box--titulo .cards-top-list .card-top-radio span {
  display: block;
  border-top: 1px solid #cec0c0;
  font-size: 1em;
  font-weight: 300;
  padding: 1rem;
}

#listado--radios {
  overflow: auto;
}

#listado--radios .titulo--listado {
  text-align: center;
  font-weight: 400;
}

#listado--radios .group-radio-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45%)[2];
      grid-template-columns: repeat(2, 45%);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  gap-row: 0.1rem;
  gap-column: 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#listado--radios .group-radio-list .card-radio-sm {
  margin: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
}

#listado--radios .group-radio-list .card-radio-sm span {
  display: block;
  text-align: center;
  border-top: 0.5px solid #ebeeec;
  font-size: 0.7em;
  font-weight: 300;
  padding: 0.5rem;
}

#listado--radios .group-radio-list .card-radio-sm img {
  max-width: 100%;
  max-height: 100%;
}

#box--comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box--comentarios .box--facebook {
  width: 100%;
  border: dashed 1px red;
}

/* 
@media screen only and(min-width: 800px) {
  header {
    grid-template-columns: 100%;
    text-align: unset;
  }
} */
/*# sourceMappingURL=main.css.map */