@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans serif;
}

/* google ads banner sizes
  Medium Rectangle (300×250) Large Rectangle (336×280) Leaderboard (728×90) Half Page (300×600) */
.google-ads-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 15.5rem;
  height: 5.625rem;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.modal {
  width: 50%;
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal .wrapper--player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.modal .wrapper--player i {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #0008ff;
}

.modal .wrapper--player .nombre--player {
  margin-top: 1rem;
  color: #333;
  font-size: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  text-align: center;
  /* SWITCH PARA EL theme dark COLORFIX */
}

header .logo--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo--header .titulo--logo {
  width: 100%;
  font-size: 1.5em;
  margin-right: 4rem;
  text-transform: uppercase;
}

header .logo--header .titulo--logo .logo--h1 {
  display: none;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 4rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.6rem;
}

header nav ul li a:hover {
  padding: 0.6rem;
  background-color: #0008ff;
  color: #fafafa;
  border-radius: 3px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

header nav ul li a {
  text-decoration: none;
  color: unset;
}

header .switch--dark {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .switch--dark em {
  margin-left: 0.5rem;
  font-size: 1rem;
}

header .theme-switch {
  display: inline-block;
  height: 2.1rem;
  position: relative;
  width: 3.8rem;
}

header .theme-switch input {
  display: none;
}

header .slider {
  background-color: #ccc;
  cursor: pointer;
  position: absolute;
  inset: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header .slider:before {
  position: absolute;
  background-color: #fafafa;
  left: 4px;
  bottom: 4px;
  content: "\1F31E";
  color: #2f3041;
  font-size: 1.2em;
  height: 1.55rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 1.6rem;
}

header input:checked + .slider {
  background-color: #2f3041;
  color: #2f3041;
}

header input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  content: "\1F31C";
  font-size: 1.2em;
}

header .slider.round {
  border-radius: 1rem;
}

header .slider.round:before {
  border-radius: 50%;
}

main {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .box--titulo {
  width: 100%;
}

main .box--titulo .titulo--main {
  font-weight: 400;
  text-align: center;
}

main .box--titulo .cards-top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

main .box--titulo .cards-top-list #top-1 {
  border-top: 5px solid red;
}

main .box--titulo .cards-top-list #top-2 {
  border-top: 5px solid blue;
}

main .box--titulo .cards-top-list #top-3 {
  border-top: 5px solid yellow;
}

main .box--titulo .cards-top-list #top-4 {
  border-top: 5px solid orange;
}

main .box--titulo .cards-top-list .card-top-radio {
  width: 80%;
  margin: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
}

main .box--titulo .cards-top-list .card-top-radio img {
  width: 8rem;
}

main .box--titulo .cards-top-list .card-top-radio span {
  display: block;
  border-top: 1px solid #cec0c0;
  font-size: 1em;
  font-weight: 300;
  padding: 1rem;
}

#listado--radios {
  overflow: auto;
}

#listado--radios .titulo--listado {
  text-align: center;
  font-weight: 400;
}

#listado--radios .group-radio-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45%)[2];
      grid-template-columns: repeat(2, 45%);
  -ms-grid-rows: (10%)[10];
      grid-template-rows: repeat(10, 10%);
  row-gap: 0.1rem;
  -webkit-column-gap: 0.1rem;
          column-gap: 0.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#listado--radios .group-radio-list .card-radio-sm {
  margin: 0.5rem;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
  border-top: 5px solid #ebeeec;
}

#listado--radios .group-radio-list .card-radio-sm span {
  display: block;
  text-align: center;
  border-top: 0.5px solid #ebeeec;
  font-size: 0.7em;
  font-weight: 300;
  padding: 0.5rem;
}

#listado--radios .group-radio-list .card-radio-sm img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 0.5rem;
}

#listado--radios .group-radio-list .card-radio-sm i {
  font-size: 4rem;
  padding: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#box--comentarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#box--comentarios .box--facebook {
  border: dashed 1px black;
  width: 95%;
  font-size: 1em;
  text-align: center;
}

#backtotop--icon {
  position: relative;
  float: right;
  right: 35px;
  bottom: 15px;
  background-color: rgba(73, 27, 158, 0.7);
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-family: monospace;
  font-size: 5rem;
  line-height: 3rem;
  width: 3rem;
  -webkit-animation: late 2s infinite;
          animation: late 2s infinite;
}

@-webkit-keyframes late {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(73, 27, 158, 0.7);
            box-shadow: 0 0 0 0 rgba(73, 27, 158, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

@keyframes late {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(73, 27, 158, 0.7);
            box-shadow: 0 0 0 0 rgba(73, 27, 158, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
            box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

#footer {
  width: 95%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 0.8em;
}

#footer .logo-radio-sm {
  text-align: center;
  font-weight: 600;
  font-size: larger;
}

#footer .logo-radio-sm img {
  width: 2.5rem;
}

#footer .logo-radio-sm .titulo--logo {
  font-size: 1em;
  font-weight: 400;
}

#footer .group-disclaimer a {
  text-decoration: none;
  color: rgba(73, 27, 158, 0.7);
}

#footer .group-disclaimer .cafecito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .group-disclaimer .cafecito img {
  width: 3.5rem;
}

#footer .group--redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  font-size: 1.5em;
}

@media only screen and (min-width: 321px) and (max-width: 398px) {
  main {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  main .box--titulo .cards-top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .box--titulo .cards-top-list .card-top-radio {
    width: 50%;
  }
  .google-ads-banner {
    width: 300px;
  }
  #listado--radios .titulo--listado {
    margin-top: 2rem;
  }
  #listado--radios .group-radio-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 12rem;
        grid-template-rows: 12rem;
    justify-items: center;
  }
  #listado--radios .group-radio-list .card-radio-sm {
    width: 90%;
  }
}

@media only screen and (min-width: 399px) and (max-width: 767px) {
  .modal {
    width: 35%;
  }
  main {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  main .box--titulo .cards-top-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .box--titulo .cards-top-list .card-top-radio {
    width: 40%;
  }
  .google-ads-banner {
    width: 336px;
  }
  #listado--radios .titulo--listado {
    margin-top: 2rem;
  }
  #listado--radios .group-radio-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 11rem;
        grid-template-rows: 11rem;
  }
  #listado--radios .group-radio-list .card-radio-sm {
    width: 60%;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #footer .group--redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    gap: 0.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 25%;
  }
  header {
    -ms-grid-columns: 30%, auto, 15%;
        grid-template-columns: 30%, auto, 15%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul li a {
    padding: 0.6rem;
  }
  header nav ul li a a:hover {
    padding: 0.5rem;
  }
  main {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  main .box--titulo .cards-top-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .box--titulo .cards-top-list .card-top-radio {
    width: 35%;
  }
  .google-ads-banner {
    width: 336px;
  }
  #listado--radios .titulo--listado {
    margin-top: 2rem;
  }
  #listado--radios .group-radio-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 11rem;
        grid-template-rows: 11rem;
  }
  #listado--radios .group-radio-list .card-radio-sm {
    width: 65%;
  }
}

@media only screen and (min-width: 1024px) {
  .google-ads-banner {
    width: 55rem;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo--header {
    margin-left: -0.7rem;
  }
  header nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 8rem;
  }
  header .switch--dark {
    margin-top: 0;
    margin-right: 1rem;
  }
  main .box--titulo .cards-top-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  main .box--titulo .cards-top-list .card-top-radio {
    width: 22%;
  }
  #listado--radios .titulo--listado {
    margin-top: 2rem;
  }
  #listado--radios .group-radio-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 12rem;
        grid-template-rows: 12rem;
    justify-items: center;
  }
  #listado--radios .group-radio-list .card-radio-sm {
    width: 65%;
  }
}

@media only screen and (min-width: 1224px) {
  .modal {
    width: 20%;
  }
  header nav {
    margin-left: 20rem;
  }
  #listado--radios .titulo--listado {
    margin-top: 2rem;
  }
  #listado--radios .group-radio-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 12rem;
        grid-template-rows: 12rem;
  }
  #listado--radios .group-radio-list .card-radio-sm {
    width: 65%;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 75% 5%;
        grid-template-columns: 20% 75% 5%;
  }
  header .logo--header {
    margin-left: 1.1rem;
  }
  header nav {
    margin-left: 20rem;
  }
  main {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  main .box--titulo .cards-top-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #listado--radios .titulo--listado {
    margin-top: 2rem;
  }
  #listado--radios .group-radio-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 12rem;
        grid-template-rows: 12rem;
  }
  #listado--radios .group-radio-list .card-radio-sm {
    width: 65%;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
/*# sourceMappingURL=main.css.map */